<form method="POST" action= "/send-email">
	<label for= "name">Name</label>
	<input id="name" name="name"></input>
	<br>
	<label for= "email">Email</label>
	<input id="email" name="email"></input>
	<br>
	<label for= "thoughts">What are your thoughts?</label>
	<textarea id="thoughts" name="thoughts"></textarea>
	<input type="submit">
</form>

