
<h1> My great portfolio</h1>

<img src="images/flower.jpg">

<% 10.times do  %>
<li> <%= "Take a look" %></li>
<% end %>

	<footer>
		<span class="foot">HOME, Georgetown, TX 78665 • Phone: 512-555-1212</span>
	</footer>