<!DOCTYPE html>
<html>
<head>
	<link href="styles/styles.css" rel="stylesheet">
	<header>
		<span class="logo">Portfolio!</span>
		<nav>
				<li><a href="/" title="Home Page">Home</a></li>
				<li><a href="/contacts" title="Contacts">Contacts</a></li>
		</nav>
	</header>
	<br><br><br><br>
</head>
<body>
<%= yield %>
</body>
</html>


